<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PeopleHum Test Suite">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <!-- <class name="com.peoplehumtest.tests.QuizTest"/> -->
            <!-- <class name="com.peoplehumtest.tests.RegisteredEntityTest"/> -->
            <!-- <class name="com.peoplehumtest.tests.LeaveCategoryTest"/> -->
            <class name="com.peoplehumtest.tests.LeavePolicyTest"/>
        </classes>
    </test>
</suite>
